:root {
    --primary: #5F80F4;
    --secondary: #4D4CAB;
    --warning: #38c7a6;
    --info: #36e9fe;
    --danger: #D2214D;
}

.btn {
    border-radius: 6px;
    outline: none;
    padding: .5rem .85rem;
    margin-top: .5rem;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    margin-right: 0.7em;
    color: #fff;
    opacity: 0.9;
    transition: 0.3s;
}
.btn:hover {
    opacity: 1
}
.btn-primary-solid {
    background-color: var(--primary);
}
.btn-secondary-solid {
    background-color: var(--secondary);
}
.btn-warning-solid {
    background-color: var(--warning);
}
.btn-danger-solid {
    background-color: var(--danger);
}
.btn-primary-outline {
    border: 1px solid var(--primary);
    color: var(--primary);
}
.btn-secondary-outline {
    border: 1px solid var(--secondary);
    color: var(--secondary);
}
.btn-warning-outline {
    border: 1px solid var(--warning);
    color: var(--warning);
}
.btn-danger-outline {
    border: 1px solid var(--danger);
    color: var(--danger);
}
.btn-karl-custom {
    border-radius: 5em;
    background: linear-gradient(to right, #1d3ee0, #7082db);
    border: 0;
    margin:auto 38%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.btn-medium {
    width: 100px;
}
.btn-large {
    width: 100%;
}
.btn-small {
    width: 55px;
}
.isPill {
    border-radius: 50em;
}