.top-nav-root {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #018FFF;
    color: #fff;
    position: fixed;
    box-shadow: 0 1px 2px #0000001a;
    top: 0;
    padding: 10px 10px;
    width: 100%;
    z-index: 1299;
  }

  .nav-logo {
    filter: brightness(0) invert(1);
  }
  .nav-actions {
    margin-right: 20px;
    font-size: 1.4em;
  }