.card-container{
    border-radius: 5px;
    color:#fff;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 3px 8px;
    padding: 25px 25px;
    background-color: #2772AA;
    background-image: linear-gradient(0deg, #2772AA 0%,	#27aaa1 100%);
    max-width: 200px;
    min-width: 90px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card-icon{
    font-size: 2em;
}

.card-text{
    font-size: 1em;
}