:root {
  --primary: #018FFF;
  --secondary: #4D4CAB;
  --info: #3BDFFB;
  --success:#46F3C5;
  --warning: #FCC140;
  --danger: #F26674;
}
.paper-root {
    margin: 0.4em;
    border-radius: 4px;
    min-width: 150px;
    flex-grow: 1;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    cursor: pointer;
    background: #fff;

}
.paper-container {
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paper-container p {
    font-size: 1.25rem;
}
.paper-primary-light {
    background-color: rgba(1, 143, 255, 0.15);
    color: var(--primary);
  }
.paper-secondary-light {
  background-color: rgba(77, 76, 171, 0.15);
  color: var(--secondary);
}
.paper-info-light {
  background-color: rgba(59, 223, 251, 0.15);
  color: var(--info);
}
.paper-success-light {
  background-color: rgba(70, 243, 197, 0.15);
  color: var(--success);
}
.paper-warning-light {
  background-color: rgba(252, 193, 64, 0.15);
  color: var(--warning);
}
.paper-danger-light {
  background-color: rgba(242, 102, 116, 0.15);
  color: var(--danger);
}