.item-row {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-weight: bold;
    font-size: 1em;
    border-bottom: solid 1px #ECEBEE;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
  }
  .item-list:last-child {
    border-bottom: none;
  }
  .item-row:last-child {
      border-bottom: none;
  }
  .item-header {
      display: flex;
      flex-direction: column;
  }
  .item-info {
      color: #AFB5B8;
      font-size: .8em;
      max-width: 300px;
  }




/* .item-row {
    border-bottom: #AFA9D0 solid .2px;
    padding-bottom: 1em;
} */
.item-title {
    font-size: 1.2em;
}
.item-title span {
    font-size: .8em;
    text-decoration: none;
    color: #2772AA;
}
.item-actions {
    font-size: .8em;
    margin-top: 6px;
}
.item-desc {
    font-size: .9em;
}
.item-desc svg {
    font-size: 1.4em;
    padding-right: .4em;
}