.qrgenerator-section{
    text-align: center;
}

.qr-generator-box{
    text-align: center;
    padding: 15px;
}

.addQR-btn{
    cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, #1d3ee0, #7082db);
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      font-size: 16px;
      width: 100%;
}

.qrcode-input{
    
    width: 76%; 
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px; 
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    width: 100%;
    
}

.underLine{
    padding-top: 10px;
    border-bottom: 4px dotted gray;
}