.profile-menu-root {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1300;
    background: #fff;
    padding: 0 10px 0 20px;
    border-radius: 0 0 0 5px;
    width: 10em;
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2),
                0px 24px 38px 3px rgba(0,0,0,0.14),
                0px 9px 46px 8px rgba(0,0,0,0.12);
}

.menu-close {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #00000033;
    color: #018FFF;
    margin-top: 1em;
    padding-bottom: .5em;
}
.menu-close p {
    opacity: 0.8;
    margin: 0;
}

.menu-closed {
    display: none;
}
.profile-menu-backDrop {
    position: fixed;
    display: flex;
    z-index: -1;
    left: -9999999px;
    bottom: -9999999px;
    top: 0;
    right: 0;
}
.log-out {
    color: #AFB5B8;
}