.textField-root {
    border: 0;
    outline: none;
    background: #f0f2f5;
    border-radius: 20px;
    height: 40px;
    padding: 0 25px;
    min-width: 150px;
    opacity: 0.6;
    transition: 0.3s;
    margin-bottom: 10px;
}
.textField-root:hover {
opacity: 1
}