

.manag-list-card-header  {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.manag-list-download{

    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #2aa72e, #80f584);
    border: 0;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    font-size: 16px;
    text-decoration: none;
}

.manag-list-delete {

    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #f72222, #dd5f5f);
    border: 0;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    font-size: 16px;
    margin-left: 3px;
    margin-right: 3px;
}

.manag-list-show {

    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #1d3ee0, #7082db);
    border: 0;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    font-size: 16px;
}

.manag-list-card-footer{
    display: flex;
    flex-direction: row;
}