body{ 
  margin: 29px 0 0 0;
}


.hero-image {

background-color: #fff;
height: 200px;
background-position: center;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color:black;
font-size: x-large;
}

.grid-container {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px 10px;
  font-size: 15px;
  text-align: center;
}