.page-container {
  margin: 0;
  padding: 0;
}

.content {
  margin: 20px auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.box-card {
  margin: 20px 20px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  flex-direction: column;
  display: flex;
  padding: 15px;
}
.qr-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
li {
  margin-bottom: 10px;
}
.list-item {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item-list-container {
  height: 300px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

