form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.side-title {
    margin-bottom: 1em;
    font-size: 1.2em;
}
.vertical-line {
    height: inherit;
    border: 1px solid #F6F7F9;
}
@media only screen and (max-width: 600px) {
    form {
      flex-direction: column;
    }
  }